<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exception</title>
        <link rel="icon" type="image/x-icon" href="/data/_favicon.ico">
        <link rel="stylesheet" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
    </head>
    <body>
        <div>
            <h3>Exception occurred</h3>
            <div>
                <p>Value: {{ text }}</p>
                <p>Trace: {{ trace }}</p>
            </div>
        </div>
    </body>
</html>
