<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>-- chart --</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="obj">
                    <script>
                        var g = {{ plot | safe }};
                        Plotly.plot("obj", g, {}, {responsive: true});
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
