<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index</title>
        <link rel="icon" type="image/x-icon" href="/data/_favicon.ico">
        <link rel="stylesheet" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
    </head>
    <body>
        <div>
            <div>
                <h3>Most Popular</h3>
                <p>tbd</p>
            </div>
            <div>
                <h5>Internet speed for {{ sitename }}</h5>
                <ul>
                    <li><a href="/data/lineplot_today">Line plot</a> - today</li>
                    <li><a href="/data/lineplot_last24hours">Line plot</a> - last 24 hours</li>
                    <li><a href="/data/heatmap_last30days">Heatmap</a> - last 30 days</li>
                </ul>
            </div>
            <div>
                <h5>Visualization Experiments</h5>
                <ul>
                    <li><a href="/data/walktz">timezone_test_graph</a></li>
                </ul>
            </div>
            <div>
                <h5>IP info for {{ sitename }}</h5>
                <div>
                    <p>TODO: display ipinfo.io json here.</p>
                </div>
            </div>
        </div>
    </body>
</html>
